Source: ros-hydro-robot-web-tools
Section: misc
Priority: extra
Maintainer: Russell Toris <rctoris@wpi.edu>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: http://ros.org/wiki/robot_web_tools
Standards-Version: 3.9.2

Package: ros-hydro-robot-web-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-depthcloud-encoder, ros-hydro-interactive-marker-proxy, ros-hydro-mjpeg-server, ros-hydro-ros-web-video, ros-hydro-rosbridge-server, ros-hydro-tf2-web-republisher
Description: Robot Web Tools Metapackage and Top Level Launch Files
